<!DOCTYPE html>
<html>
<head>
	<title>Add Your Expense!</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{% if success_message %}
		<div class="alert alert-success alert-dismissable fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Success!</strong> {{ success_message }}
		</div>
	{% endif %}	
	<div class="panel panel-default">
		<div class="panel-body"><center><h1>Add Your Expense Here:</h1></center></div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<form method="POST" action="/expense/add/">
				{% csrf_token %}
					<div class="form-group">
						<label for="category">Category:</label>
						<select class="form-control" id="category" name="category">
							<option>Food</option>
							<option>Accommodation</option>
							<option>Entertainment</option>
						</select>
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<textarea class="form-control" rows="5" id="description" name="description"></textarea>
					</div>
					<div class="form-group">
						<label for="amount">Amount:</label>
						<input type="number" class="form-control" id="amount" name="amount">
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>